{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
	<h2>Bem Vindo<h2>
    <h3>Aqui você pode verificar as salas e os usuários<h3>
  </div>

  <br>
  <div class, align="center">
	  <div class="dropdown">
  	<button class="dropbtn">Usuários</button>
  	<div class="dropdown-content">
    	<a href="#">Usuário 1</a>
    	<a href="#">Usuário 2</a>
    	<a href="#">Usuário 3</a>
  	</div>
	</div>

	<div class="dropdown">
  	<button class="dropbtn">Salas</button>
  	<div class="dropdown-content">
    	<a href="#">Sala 1</a>
    	<a href="#">Sala 2</a>
    	<a href="#">Sala 3</a>
  	</div>
	</div>	 
	</div>

{% endblock %}