<link rel = "stylesheet" href = "{{url_for('static',filename = 'app/assets/stylesheets/application.css')}} "></strong>

<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css"
      rel="stylesheet">
<header>
    <div class="container">
        <h1 class="logo">PI</h1>
    </div>
</header>

<body style="font-family: Helvetica Neue", Helvetica, Arial, sans-serif>
    <div class="container">
        <h1 style ="font-size:3em;text-align: center">Search</h1>
        <h2 style= "size: 3.0"> RF-ID: <input type="text" name="RF-ID" size="10" maxlength="8" placeholder="RF-ID">
            </h2>
    <div class align="center">
        <input class="btn btn-default" type="submit" value="Search">
    </div>

    </div>
</body>
