/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 *= require font-awesome


 */



body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

html, body{height: 90%}
/*
 * Create dark grey header with a white logo
 */

header {
    background-color: #2B2B2B;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #8b8878;
    text-transform: uppercase;
    float: left;
}

header h1.logo:hover {
    color: #8b8878;
    text-decoration: none;
}

.footer{
    font-size: 1.0em;
    color: #444;
    width: 100%;
}

/*
 * Center the body content
 */

.container {
    width: 940px;
    margin: 0 auto;
    min-height: 100%;
}

div.jumbo {
    padding: 10px 0 30px 0;
    background-color: #c6c2c2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    min-height: 100%;
}

input[type=email], input[type=password] {
    font-size: 1.0em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #fff;
}

.button {
    background-color: #8b8878;
    color: white;
    padding: 10px 15px;
    margin: 16px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*
 * Display navigation links inline
 */

.menu {
    float: right;
    margin-top: 8px;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 35px;
}

.menu li a {
    color: #999;
    text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: #767676;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 160px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e3e3e;
}